@model web_viewer.Models.Places.Country

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-3 py-4">
                <h4>View Country</h4>
                <hr />
                <h2 class="text-center mt-2 mb-0">@Html.DisplayFor(model => model.Label)</h2> <span class="text-center">@Html.DisplayNameFor(model => model.Label)</span>
                <figure class="text-center mt-5 figure">
                    <img src="@Url.Content(Model.Flag.Path)" width="100" class="rounded-pill figure-img">
                </figure>
                <div class="text-center mt-5 mb-3">
                    <div class="buttons mt-5">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning px-4" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-outline-danger px-4" })
                        @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-outline-primary px-4" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
