@model web_viewer.Models.Perfil.PersonFriends

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Friendship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        
            <dt>
                @Html.DisplayNameFor(model => model.Friends.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Friends.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Person.CountryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Countries.Label)
            </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Person.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
