<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - Friendzone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Fonts and Icons -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation--> <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-top">WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            @Html.ActionLink("Friendzone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Country", "Index", "Country", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("States", "Index", "States", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Person", "Index", "Person", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Friends", "Index", "Friends", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Friendship", "Index", "Friendship", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="container-fluid bg-primary bg-gradient text-white">
        <div class="jumbotron pt-5 px-4 text-center">
            <h1 class="fw-bolder">Welcome to Friendzone</h1>
            <p class="lead pb-5">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container-fluid px-4">
            <div class="row gx-4 justify-content-center">
                <div class="container-fluid col-lg-8">
                    <h2 class="h2 justify-content-center text-center mb-5 mt-5">Friendzone</h2>
                    <p class="lead pb-5 text-center justify-content-xxl-center">Friendship is a relationship of mutual affection between people. It is a stronger form of interpersonal bond than an acquaintance or an association, such as a classmate, neighbor, or colleague.</p>
                    <div class="body-content">
                        <!--a href="~/App_Start/WebApiConfig.cs">~/App_Start/WebApiConfig.cs</a-->
                        <div class="container-lg">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">&copy; @DateTime.Now.Year - &copy; @DateTime.Now.Year - Copyright &copy; Your Website 2021</p></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
    